Binaries
DerivedDataCache
Intermediate
Saved
/Content/StarterContent
/Content/AnimalVarietyPack
/Content/Weapon_Pack
/Content/STF
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
